<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<div id="svg-container"></div>
<base href=".">
<script src="https://unpkg.com/d3?module" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.0.0/build/d3-flextree.js" type="module"></script>
<script type="module">

    // ---------------------------------------------Init-Script---------------------------------------------------------
    function init_initData(d3Data, data) {
        // Create root-feature-node with d3 and the data of the feature-model.
        d3Data.root = d3.hierarchy(data, (node) => node.children);
        d3Data.root.each((d3Node) => (d3Node.data.d3Node = d3Node));
    }

    function init_initialize(d3Data, data) {
        // Flexlayout belongs to a d3-plugin that calculates the width between all nodes dynamically.
        d3Data.flexlayout = flextree.flextree()
            .nodeSize((d3Node) => init_calcNodeSize(d3Data, d3Node))
            .spacing((d3NodeA, d3NodeB) => d3NodeA.path(d3NodeB).length);

        init_initData(d3Data, data);

        // d3Data.zoom = d3
        //     .zoom()
        //     //.scaleExtent([0.1, 8])
        //     .on('zoom', (event) => svgContent.attr('transform', event.transform));

        // Create svg-container.
        const svg = d3
            .select('#svg-container')
            .append('svg')
            .attr('preserveAspectRatio', 'xMidYMid meet')
        // .call(d3Data.zoom) // Zooming and penning.
        // .on('dblclick.zoom', null);

        const svgContent = svg.append('g');

        d3Data.container.highlightedConstraintsContainer = svgContent
            .append('g')
            .classed('highlighted-constraints-container', true);

        d3Data.container.linksContainer = svgContent
            .append('g')
            .classed('link-container', true);

        d3Data.container.segmentsContainer = svgContent
            .append('g')
            .classed('segments-container', true);

        d3Data.container.featureNodesContainer = svgContent
            .append('g')
            .classed('feature-node-container', true);

        d3Data.container.dragContainer = svgContent
            .append('g')
            .classed('drag-container', true);

        // // Listen to window resize.
        // window.onresize = () => windowResize.update(d3Data);
        // windowResize.update(d3Data);
    }

    function init_calcNodeSize(d3Data, d3Node) {
        let width, height;
        switch (d3Data.direction) {
            case 'v':
                width = d3Node.width + d3Data.spaceBetweenSiblings;
                height = RECT_HEIGHT + d3Data.spaceBetweenParentChild;
                break;
            case 'h':
                width = RECT_HEIGHT + d3Data.spaceBetweenSiblings;
                height =
                    d3Data.maxHorizontallyLevelWidth[d3Node.data.level()] +
                    d3Data.spaceBetweenParentChild;
                break;
        }

        return [width, height];
    }

    // -----------------------------------------------------------------------------------------------------------------

    // -- const --
    const RECT_HEIGHT = 35;
    const NODE_COLOR = "rgb(204, 204, 255)";
    const NODE_EDITED_COLOR = "rgb(197,196,120)";
    const NODE_ABSTRACT_COLOR = "#ebebff";

    const DISPLAY_NAME_LENGTH = 8;
    const DISPLAY_NAME_RAW = 5;
    const POINTS = '...';
    // ---

    // -- FeatureNode --
    class FeatureNode {
        constructor(parent, name, groupType, mandatory, abstract) {
            this.parent = parent;
            this.name = name;
            this.setDisplayName(name);
            this.children = [];
            this.groupType = groupType;
            this.isRoot = parent === null;
            this.isMandatory = mandatory;
            this.isAbstract = abstract;
            this.colorValue = NODE_COLOR;
            this.constraints = [];
            this.isCollapsed = false;
            this.isHidden = false;
            this.d3Node = null;
            this.markedAsEdited = false;
        }

        setDisplayName(newName) {
            ///Sets the Displayname of the Featurenode
            if (newName.length <= DISPLAY_NAME_LENGTH) {
                this.displayName = newName;
            } else {
                this.displayName = newName.slice(0, DISPLAY_NAME_RAW) + POINTS;
            }

        }

        color() {
            if (this.markedAsEdited) {
                return NODE_EDITED_COLOR;
            } else if (this.isAbstract) {
                return NODE_ABSTRACT_COLOR;
            } else {
                return this.colorValue;
            }
        }

        level() {
            if (this.isRoot) {
                return 0;
            } else {
                return this.parent.level() + 1;
            }
        }

        childrenCount() {
            if (this.isLeaf()) {
                return 0;
            } else {
                return this.children.length;
            }
        }

        totalSubnodesCount() {
            if (this.isLeaf()) {
                return 0;
            } else {
                let totalSubnodesCount = this.children.length;
                this.children.forEach(node => {
                    totalSubnodesCount += node.totalSubnodesCount();
                });
                return totalSubnodesCount;
            }
        }

        isAnd() {
            return this.groupType === 'and';
        }

        isOr() {
            return this.groupType === 'or';
        }

        isAlt() {
            return this.groupType === 'alt';
        }

        isLeaf() {
            return this.children.length === 0;
        }

        uncollapse(toRoot = true) {
            if (this.isCollapsed && !this.isLeaf()) {
                this.d3Node.children = this.d3Node.collapsedChildren;
                this.d3Node.collapsedChildren = null;
            }

            if (!this.isRoot && toRoot) {
                this.parent.uncollapse();
            }

            this.isCollapsed = false;
        }

        collapse() {
            if (!this.isCollapsed && !this.isLeaf()) {
                this.d3Node.collapsedChildren = this.d3Node.children;
                this.d3Node.children = null;
            }

            this.isCollapsed = true;
        }

        toggleCollapse() {
            if (this.isCollapsed) {
                this.uncollapse();
            } else {
                this.collapse();
            }
        }

        getAllNodesToRoot() {
            if (this.isRoot) {
                return [this];
            } else {
                return [this, ...this.parent.getAllNodesToRoot()];
            }
        }

        getLeftSibling() {
            const index = this.parent.children.indexOf(this);
            if (index === 0) {
                return null;
            }
            return this.parent.children[index - 1];
        }

        getRightSibling() {
            const index = this.parent.children.indexOf(this);
            if (index === this.parent.children.length - 1) {
                return null;
            }
            return this.parent.children[index + 1];
        }

        getLeftSiblings() {
            if (this.isRoot) {
                return [];
            }
            const index = this.parent.children.indexOf(this);
            return this.parent.children.slice(0, index);
        }

        getRightSiblings() {
            if (this.isRoot) {
                return [];
            }
            const index = this.parent.children.indexOf(this);
            return this.parent.children.slice(index + 1);
        }

        toggleHideLeftSiblings() {
            if (this.getLeftSibling().isHidden) {
                this.unhideLeftSiblings();
            } else {
                this.hideLeftSiblings();
            }
        }

        toggleHideRightSiblings() {
            if (this.getRightSibling().isHidden) {
                this.unhideRightSiblings();
            } else {
                this.hideRightSiblings();
            }
        }

        hideLeftSiblings() {
            if (this.isRoot) {
                return;
            }

            const leftSiblings = this.getLeftSiblings();
            if (!leftSiblings.length) return;
            leftSiblings.forEach(node => node.isHidden = true);

            const leftD3Siblings = leftSiblings.map(node => node.d3Node);
            const pseudoNode = new PseudoNode(this.parent, leftD3Siblings);
            const d3PseudoNode = d3.hierarchy(pseudoNode);
            pseudoNode.d3Node = d3PseudoNode;

            const index = this.parent.d3Node.children.indexOf(this.d3Node);
            const rightD3Siblings = this.parent.d3Node.children.slice(index + 1);
            this.parent.d3Node.children = [d3PseudoNode, this.d3Node, ...rightD3Siblings];
        }

        hideRightSiblings() {
            if (this.isRoot) {
                return;
            }

            const rightSiblings = this.getRightSiblings();
            if (!rightSiblings.length) return;
            rightSiblings.forEach(node => node.isHidden = true);

            const rightD3Siblings = rightSiblings.map(node => node.d3Node);
            const pseudoNode = new PseudoNode(this.parent, rightD3Siblings);
            const d3PseudoNode = d3.hierarchy(pseudoNode);
            pseudoNode.d3Node = d3PseudoNode;

            const index = this.parent.d3Node.children.indexOf(this.d3Node);
            const leftD3Siblings = this.parent.d3Node.children.slice(0, index);
            this.parent.d3Node.children = [...leftD3Siblings, this.d3Node, d3PseudoNode];
        }

        unhideLeftSiblings() {
            if (this.isRoot) {
                return;
            }

            const leftSiblings = this.getLeftSiblings();
            leftSiblings.forEach(node => node.isHidden = false);

            const index = this.parent.d3Node.children.indexOf(this.d3Node);
            const rightD3Siblings = this.parent.d3Node.children.slice(index + 1);
            const leftD3Siblings = leftSiblings.map(node => node.d3Node);
            this.parent.d3Node.children = [...leftD3Siblings, this.d3Node, ...rightD3Siblings];
        }

        unhideRightSiblings() {
            if (this.isRoot) {
                return;
            }

            const rightSiblings = this.getRightSiblings();
            rightSiblings.forEach(node => node.isHidden = false);

            const index = this.parent.d3Node.children.indexOf(this.d3Node);
            const leftD3Siblings = this.parent.d3Node.children.slice(index + 1);
            const rightD3Siblings = rightSiblings.map(node => node.d3Node);
            this.parent.d3Node.children = [...leftD3Siblings, this.d3Node, ...rightD3Siblings];
        }

        hide() {
            if (this.isRoot) {
                return;
            }

            const index = this.parent.d3Node.children.indexOf(this.d3Node);

            // Check if the d3Node left is also a pseudo-node. If true merge with current one.
            let leftHiddenD3Nodes = [];
            let leftIndex = index;
            if (index !== 0) {
                const leftD3Node = this.parent.d3Node.children[index - 1];
                if (leftD3Node.data instanceof PseudoNode) {
                    leftHiddenD3Nodes = leftD3Node.data.hiddenD3Nodes;
                    leftIndex--;
                }
            }

            // Check if the d3Node right is also a pseudo-node. If true merge with current one.
            let rightHiddenD3Nodes = [];
            let rightIndex = index;
            if (index !== this.parent.d3Node.children.length - 1) {
                const rightD3Node = this.parent.d3Node.children[index + 1];
                if (rightD3Node.data instanceof PseudoNode) {
                    rightHiddenD3Nodes = rightD3Node.data.hiddenD3Nodes;
                    rightIndex++;
                }
            }

            const hiddenD3Nodes = [...leftHiddenD3Nodes, this.d3Node, ...rightHiddenD3Nodes];

            const pseudoNode = new PseudoNode(this.parent, hiddenD3Nodes);
            const d3PseudoNode = d3.hierarchy(pseudoNode);
            pseudoNode.d3Node = d3PseudoNode;

            const leftD3Siblings = this.parent.d3Node.children.slice(0, leftIndex);
            const rightD3Siblings = this.parent.d3Node.children.slice(rightIndex + 1);

            this.parent.d3Node.children = [...leftD3Siblings, d3PseudoNode, ...rightD3Siblings];
            this.isHidden = true;
        }

        hideAllNodesOnThisLevel() {
            if (this.getLeftSiblings().length) {
                this.hideLeftSiblings();
            }
            if (this.getRightSiblings().length) {
                this.hideRightSiblings();
            }
        }

        hideAllOtherNodes() {
            this.collapse();
            this.getAllNodesToRoot().forEach(node => node.hideAllNodesOnThisLevel());
        }

        unhideChildren() {
            if (this.isLeaf()) {
                return;
            }

            this.children.forEach(node => node.isHidden = false);
            this.d3Node.children = this.children.map(node => node.d3Node);
        }

        insertChildAtIndex(child, index) {
            // Update d3-parent
            child.d3Node.parent = this.d3Node;
            child.parent = this;

            // Update d3-children
            const d3Children = this.getD3Children();
            const leftD3Nodes = d3Children.slice(0, index);
            const rightD3Nodes = d3Children.slice(index);
            this.d3Node.children = [...leftD3Nodes, child.d3Node, ...rightD3Nodes];

            // Update feature-node-children
            const leftNodes = this.children.slice(0, index);
            const rightNodes = this.children.slice(index);
            this.children = [...leftNodes, child, ...rightNodes];
        }

        removeChild(child) {
            this.children = this.children.filter(node => node !== child);
            this.d3Node.children = this.getD3Children().filter(d3Node => d3Node.data !== child);
        }

        getD3Children() {
            return this.children.map(node => node.d3Node);
        }

        each(func) {
            func(this);
            if (!this.isLeaf()) {
                this.children.forEach(node => node.each(func));
            }
        }

        descendants() {
            if (this.isLeaf()) {
                return [this];
            } else {
                return [this, ...this.children.map(node => node.descendants()).flat()];
            }
        }

        markAsEdited() {
            this.markedAsEdited = true;
        }

        unmarkAsEdited() {
            this.markedAsEdited = false;
        }

        getHighlightedConstraints() {
            return this.constraints.filter((constraint) => constraint.isHighlighted);
        }

        highlightConstraints() {
            this.constraints.forEach((constraint) => constraint.isHighlighted = true);
        }
    }

    function createFeatureNode(parent, name, groupType, mandatory, abstract) {
        const node = new FeatureNode(parent, name, groupType, mandatory, abstract);
        node.d3Node = d3.hierarchy(node);
        return node;
    }

    // ---

    // -- PseudoNode --
    class PseudoNode {
        constructor(parent, hiddenD3Nodes) {
            this.hiddenD3Nodes = hiddenD3Nodes;
            this.parent = parent;
            this.d3Node = null;
        }

        unhideHiddenNodes() {
            // Unhide every node that is in this pseudo-node.
            this.hiddenD3Nodes.forEach(d3Node => d3Node.data.isHidden = false);

            // Move every node back to children of parent node.
            const parentD3Children = this.parent.d3Node.children;
            const index = parentD3Children.indexOf(this.d3Node);
            const leftD3Siblings = parentD3Children.slice(0, index);
            const rightD3Siblings = parentD3Children.slice(index + 1);
            this.parent.d3Node.children = [...leftD3Siblings, ...this.hiddenD3Nodes, ...rightD3Siblings];
        }
    }

    // ---

    function initD3Data() {
        return {
            root: undefined,
            flexLayout: undefined,
            zoom: undefined,
            nodeIdCounter: 0,
            isShortenedName: false,
            spaceBetweenParentChild: 75,
            spaceBetweenSiblings: 20,
            d3ParentOfAddNode: undefined,
            d3AddNodeIndex: 0,
            coloringIndex: -1,
            semanticEditing: false,
            quickEdit: false,
            direction: 'v', // h = horizontally, v = vertically
            maxHorizontallyLevelWidth: [],
            featureModelTree: undefined,
        }
    }

    function initData() {
        return {
            featureMap: [],
            constraints: [],
            properties: [],
            calculations: undefined,
            comments: [],
            featureOrder: undefined,
            rootNode: undefined,
        };
    }

    {# TODO: import JSON and get root node #}

    function xmlToJson(_currentModel, data) {
        const currentModel = `<?xml version="1.0" encoding="UTF-8" standalone="no"?>
	<featureModel>
		<properties/>
		<struct>
			<alt abstract="true" mandatory="true" name="SPL">
				<and abstract="true" name="generatedSPL">
					<or abstract="true" name="DERIVATIVES">
						<feature name="Derivative_LoggingEvictor_Statistics_Evictor_LoggingBase"/>
						<feature name="Derivative_LoggingEvictor_Evictor_MemoryBudget_LoggingBase"/>
						<feature name="Derivative_LoggingInfo_Statistics_Verifier"/>
						<feature name="Derivative_Latches_Statistics_Verifier"/>
						<feature name="Derivative_Latches_Verifier_INCompressor"/>
						<feature name="Derivative_Statistics_Verifier_INCompressor"/>
						<feature name="Derivative_Statistics_Verifier_DeleteOp"/>
						<feature name="Derivative_LookAHEADCache_Evictor_CriticalEviction"/>
						<feature name="Derivative_INCompressor_Evictor_CriticalEviction"/>
						<feature name="Derivative_Evictor_MemoryBudget_CriticalEviction"/>
						<feature name="Derivative_LoggingEvictor_Evictor_LoggingBase"/>
						<feature name="Derivative_FSync_Latches"/>
						<feature name="Derivative_NIO_ChunkedNIO"/>
						<feature name="Derivative_IO_SynchronizedIO"/>
						<feature name="Derivative_LoggingConfig_Statistics"/>
						<feature name="Derivative_FSync_Statistics"/>
						<feature name="Derivative_LookAHEADCache_Statistics"/>
						<feature name="Derivative_Latches_Statistics"/>
						<feature name="Derivative_Latches_CheckLeaks"/>
						<feature name="Derivative_Statistics_CheckLeaks"/>
						<feature name="Derivative_Statistics_Verifier"/>
						<feature name="Derivative_LoggingFinest_CPBytes"/>
						<feature name="Derivative_CheckpointerDaemon_CPBytes"/>
						<feature name="Derivative_LoggingFinest_CPTime"/>
						<feature name="Derivative_CPBytes_CPTime"/>
						<feature name="Derivative_LoggingFine_INCompressor"/>
						<feature name="Derivative_Latches_INCompressor"/>
						<feature name="Derivative_Statistics_INCompressor"/>
						<feature name="Derivative_Verifier_INCompressor"/>
						<feature name="Derivative_LoggingCleaner_DeleteOp"/>
						<feature name="Derivative_Latches_DeleteOp"/>
						<feature name="Derivative_Statistics_DeleteOp"/>
						<feature name="Derivative_INCompressor_DeleteOp"/>
						<feature name="Derivative_LoggingFinest_TruncateOp"/>
						<feature name="Derivative_Latches_TruncateOp"/>
						<feature name="Derivative_DeleteOp_TruncateOp"/>
						<feature name="Derivative_Latches_RenameOp"/>
						<feature name="Derivative_LoggingEvictor_Evictor"/>
						<feature name="Derivative_Latches_Evictor"/>
						<feature name="Derivative_Statistics_Evictor"/>
						<feature name="Derivative_INCompressor_Evictor"/>
						<feature name="Derivative_DeleteOp_Evictor"/>
						<feature name="Derivative_LoggingInfo_MemoryBudget"/>
						<feature name="Derivative_LookAHEADCache_MemoryBudget"/>
						<feature name="Derivative_Latches_MemoryBudget"/>
						<feature name="Derivative_Statistics_MemoryBudget"/>
						<feature name="Derivative_DeleteOp_MemoryBudget"/>
						<feature name="Derivative_Evictor_MemoryBudget"/>
						<feature name="Derivative_Evictor_CriticalEviction"/>
						<feature name="Derivative_Evictor_EvictorDaemon"/>
						<feature name="Derivative_Latches_FileHandleCache"/>
						<feature name="Derivative_LoggingSevere_EnvironmentLocking"/>
						<feature name="Derivative_LoggingFinest_LoggingBase"/>
						<feature name="Derivative_LoggingFiner_LoggingBase"/>
						<feature name="Derivative_LoggingFine_LoggingBase"/>
						<feature name="Derivative_LoggingSevere_LoggingBase"/>
						<feature name="Derivative_LoggingRecovery_LoggingBase"/>
						<feature name="Derivative_LoggingCleaner_LoggingBase"/>
						<feature name="Derivative_LoggingFileHandler_LoggingBase"/>
						<feature name="Derivative_LoggingDbLogHandler_LoggingBase"/>
						<feature name="Derivative_LoggingConsoleHandler_LoggingBase"/>
					</or>
					<and abstract="true" name="Logging">
						<feature name="LoggingFiner"/>
						<feature name="LoggingConfig"/>
						<feature name="LoggingSevere"/>
						<feature name="LoggingEvictor"/>
						<feature name="LoggingCleaner"/>
						<feature name="LoggingRecovery"/>
						<feature name="LoggingDbLogHandler"/>
						<feature name="LoggingConsoleHandler"/>
						<feature name="LoggingInfo"/>
						<feature mandatory="true" name="LoggingBase"/>
						<feature name="LoggingFileHandler"/>
						<feature name="LoggingFine"/>
						<feature name="LoggingFinest"/>
					</and>
					<and abstract="true" mandatory="true" name="ConcurrTrans">
						<feature name="Latches"/>
						<feature abstract="true" name="Transactions"/>
						<feature name="CheckLeaks"/>
						<feature name="FSync"/>
					</and>
					<and abstract="true" mandatory="true" name="Persistance">
						<feature name="Checksum"/>
						<alt abstract="true" mandatory="true" name="IIO">
							<and abstract="true" name="OldIO">
								<feature abstract="true" name="SynchronizedIO"/>
								<feature mandatory="true" name="IO"/>
							</and>
							<and abstract="true" name="NewIO">
								<alt abstract="true" mandatory="true" name="NIOAccess">
									<feature name="ChunkedNIO"/>
									<feature name="NIO"/>
								</alt>
								<feature abstract="true" name="DirectNIO"/>
							</and>
						</alt>
						<feature name="EnvironmentLocking"/>
						<and abstract="true" mandatory="true" name="Checkpointer">
							<feature name="CPBytes"/>
							<feature name="CPTime"/>
							<feature name="CheckpointerDaemon"/>
						</and>
						<feature name="DiskFullErro"/>
						<feature name="FileHandleCache"/>
						<and abstract="true" mandatory="true" name="IICleaner">
							<feature name="CleanerDaemon"/>
							<feature abstract="true" mandatory="true" name="Cleaner"/>
							<feature name="LookAHEADCache"/>
						</and>
					</and>
					<feature name="Statistics"/>
					<and abstract="true" mandatory="true" name="BTree">
						<feature name="INCompressor"/>
						<and abstract="true" name="IEvictor">
							<feature name="CriticalEviction"/>
							<feature abstract="true" name="EvictorDaemon"/>
							<feature mandatory="true" name="Evictor"/>
						</and>
						<feature name="Verifier"/>
					</and>
					<and abstract="true" mandatory="true" name="Ops">
						<feature name="DeleteOp"/>
						<feature name="RenameOp"/>
						<feature name="TruncateOp"/>
					</and>
					<feature name="MemoryBudget"/>
					<feature mandatory="true" name="base"/>
				</and>
			</alt>
		</struct>
		<constraints>
			<rule>
				<imp>
					<disj>
						<var>Evictor</var>
						<disj>
							<var>EvictorDaemon</var>
							<var>LookAHEADCache</var>
						</disj>
					</disj>
					<var>MemoryBudget</var>
				</imp>
			</rule>
			<rule>
				<imp>
					<var>CriticalEviction</var>
					<var>INCompressor</var>
				</imp>
			</rule>
			<rule>
				<imp>
					<var>CPBytes</var>
					<var>CPTime</var>
				</imp>
			</rule>
			<rule>
				<imp>
					<var>DeleteOp</var>
					<conj>
						<var>Evictor</var>
						<conj>
							<var>INCompressor</var>
							<var>MemoryBudget</var>
						</conj>
					</conj>
				</imp>
			</rule>
			<rule>
				<imp>
					<var>MemoryBudget</var>
					<conj>
						<var>Evictor</var>
						<var>Latches</var>
					</conj>
				</imp>
			</rule>
			<rule>
				<imp>
					<var>TruncateOp</var>
					<var>DeleteOp</var>
				</imp>
			</rule>
			<rule>
				<imp>
					<var>Verifier</var>
					<var>INCompressor</var>
				</imp>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingEvictor_Statistics_Evictor_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<conj>
							<var>Evictor</var>
							<conj>
								<var>Statistics</var>
								<var>LoggingEvictor</var>
							</conj>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingEvictor_Evictor_MemoryBudget_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<conj>
							<var>Evictor</var>
							<conj>
								<var>LoggingEvictor</var>
								<var>MemoryBudget</var>
							</conj>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingInfo_Statistics_Verifier</var>
					<conj>
						<var>Verifier</var>
						<conj>
							<var>LoggingInfo</var>
							<var>Statistics</var>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_Statistics_Verifier</var>
					<conj>
						<var>Latches</var>
						<conj>
							<var>Verifier</var>
							<var>Statistics</var>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_Verifier_INCompressor</var>
					<conj>
						<var>Latches</var>
						<conj>
							<var>INCompressor</var>
							<var>Verifier</var>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Statistics_Verifier_INCompressor</var>
					<conj>
						<var>INCompressor</var>
						<conj>
							<var>Verifier</var>
							<var>Statistics</var>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Statistics_Verifier_DeleteOp</var>
					<conj>
						<var>Verifier</var>
						<conj>
							<var>Statistics</var>
							<var>DeleteOp</var>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LookAHEADCache_Evictor_CriticalEviction</var>
					<conj>
						<var>Evictor</var>
						<conj>
							<var>LookAHEADCache</var>
							<var>CriticalEviction</var>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_INCompressor_Evictor_CriticalEviction</var>
					<conj>
						<var>INCompressor</var>
						<conj>
							<var>Evictor</var>
							<var>CriticalEviction</var>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Evictor_MemoryBudget_CriticalEviction</var>
					<conj>
						<var>Evictor</var>
						<conj>
							<var>CriticalEviction</var>
							<var>MemoryBudget</var>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingEvictor_Evictor_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<conj>
							<var>Evictor</var>
							<var>LoggingEvictor</var>
						</conj>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_FSync_Latches</var>
					<conj>
						<var>Latches</var>
						<var>FSync</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_NIO_ChunkedNIO</var>
					<conj>
						<var>ChunkedNIO</var>
						<var>NIO</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_IO_SynchronizedIO</var>
					<conj>
						<var>IO</var>
						<var>SynchronizedIO</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingConfig_Statistics</var>
					<conj>
						<var>LoggingConfig</var>
						<var>Statistics</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_FSync_Statistics</var>
					<conj>
						<var>FSync</var>
						<var>Statistics</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LookAHEADCache_Statistics</var>
					<conj>
						<var>LookAHEADCache</var>
						<var>Statistics</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_Statistics</var>
					<conj>
						<var>Latches</var>
						<var>Statistics</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_CheckLeaks</var>
					<conj>
						<var>Latches</var>
						<var>CheckLeaks</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Statistics_CheckLeaks</var>
					<conj>
						<var>CheckLeaks</var>
						<var>Statistics</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Statistics_Verifier</var>
					<conj>
						<var>Verifier</var>
						<var>Statistics</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingFinest_CPBytes</var>
					<conj>
						<var>CPBytes</var>
						<var>LoggingFinest</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_CheckpointerDaemon_CPBytes</var>
					<conj>
						<var>CPBytes</var>
						<var>CheckpointerDaemon</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingFinest_CPTime</var>
					<conj>
						<var>LoggingFinest</var>
						<var>CPTime</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_CPBytes_CPTime</var>
					<conj>
						<var>CPBytes</var>
						<var>CPTime</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingFine_INCompressor</var>
					<conj>
						<var>INCompressor</var>
						<var>LoggingFine</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_INCompressor</var>
					<conj>
						<var>Latches</var>
						<var>INCompressor</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Statistics_INCompressor</var>
					<conj>
						<var>INCompressor</var>
						<var>Statistics</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Verifier_INCompressor</var>
					<conj>
						<var>INCompressor</var>
						<var>Verifier</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingCleaner_DeleteOp</var>
					<conj>
						<var>LoggingCleaner</var>
						<var>DeleteOp</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_DeleteOp</var>
					<conj>
						<var>Latches</var>
						<var>DeleteOp</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Statistics_DeleteOp</var>
					<conj>
						<var>Statistics</var>
						<var>DeleteOp</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_INCompressor_DeleteOp</var>
					<conj>
						<var>INCompressor</var>
						<var>DeleteOp</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingFinest_TruncateOp</var>
					<conj>
						<var>LoggingFinest</var>
						<var>TruncateOp</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_TruncateOp</var>
					<conj>
						<var>Latches</var>
						<var>TruncateOp</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_DeleteOp_TruncateOp</var>
					<conj>
						<var>TruncateOp</var>
						<var>DeleteOp</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_RenameOp</var>
					<conj>
						<var>Latches</var>
						<var>RenameOp</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingEvictor_Evictor</var>
					<conj>
						<var>Evictor</var>
						<var>LoggingEvictor</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_Evictor</var>
					<conj>
						<var>Latches</var>
						<var>Evictor</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Statistics_Evictor</var>
					<conj>
						<var>Evictor</var>
						<var>Statistics</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_INCompressor_Evictor</var>
					<conj>
						<var>INCompressor</var>
						<var>Evictor</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_DeleteOp_Evictor</var>
					<conj>
						<var>Evictor</var>
						<var>DeleteOp</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingInfo_MemoryBudget</var>
					<conj>
						<var>LoggingInfo</var>
						<var>MemoryBudget</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LookAHEADCache_MemoryBudget</var>
					<conj>
						<var>LookAHEADCache</var>
						<var>MemoryBudget</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_MemoryBudget</var>
					<conj>
						<var>Latches</var>
						<var>MemoryBudget</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Statistics_MemoryBudget</var>
					<conj>
						<var>Statistics</var>
						<var>MemoryBudget</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_DeleteOp_MemoryBudget</var>
					<conj>
						<var>DeleteOp</var>
						<var>MemoryBudget</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Evictor_MemoryBudget</var>
					<conj>
						<var>Evictor</var>
						<var>MemoryBudget</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Evictor_CriticalEviction</var>
					<conj>
						<var>Evictor</var>
						<var>CriticalEviction</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Evictor_EvictorDaemon</var>
					<conj>
						<var>Evictor</var>
						<var>EvictorDaemon</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_Latches_FileHandleCache</var>
					<conj>
						<var>Latches</var>
						<var>FileHandleCache</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingSevere_EnvironmentLocking</var>
					<conj>
						<var>LoggingSevere</var>
						<var>EnvironmentLocking</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingFinest_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<var>LoggingFinest</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingFiner_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<var>LoggingFiner</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingFine_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<var>LoggingFine</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingSevere_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<var>LoggingSevere</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingRecovery_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<var>LoggingRecovery</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingCleaner_LoggingBase</var>
					<conj>
						<var>LoggingCleaner</var>
						<var>LoggingBase</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingFileHandler_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<var>LoggingFileHandler</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingDbLogHandler_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<var>LoggingDbLogHandler</var>
					</conj>
				</eq>
			</rule>
			<rule>
				<eq>
					<var>Derivative_LoggingConsoleHandler_LoggingBase</var>
					<conj>
						<var>LoggingBase</var>
						<var>LoggingConsoleHandler</var>
					</conj>
				</eq>
			</rule>
		</constraints>
		<calculations Auto="true" Constraints="true" Features="true" Redundant="true" Tautology="true"/>
		<comments>
			<c>Semantic Dependencies</c>
		</comments>
		<featureOrder userDefined="true">
			<feature name="base"/>
			<feature name="LoggingBase"/>
			<feature name="LoggingConsoleHandler"/>
			<feature name="LoggingDbLogHandler"/>
			<feature name="LoggingFileHandler"/>
			<feature name="EnvironmentLocking"/>
			<feature name="DiskFullErro"/>
			<feature name="FileHandleCache"/>
			<feature name="CriticalEviction"/>
			<feature name="MemoryBudget"/>
			<feature name="Evictor"/>
			<feature name="RenameOp"/>
			<feature name="TruncateOp"/>
			<feature name="DeleteOp"/>
			<feature name="CleanerDaemon"/>
			<feature name="INCompressor"/>
			<feature name="CPTime"/>
			<feature name="CPBytes"/>
			<feature name="CheckpointerDaemon"/>
			<feature name="Verifier"/>
			<feature name="CheckLeaks"/>
			<feature name="Statistics"/>
			<feature name="IO"/>
			<feature name="ChunkedNIO"/>
			<feature name="NIO"/>
			<feature name="Checksum"/>
			<feature name="Latches"/>
			<feature name="LookAHEADCache"/>
			<feature name="FSync"/>
			<feature name="LoggingCleaner"/>
			<feature name="LoggingEvictor"/>
			<feature name="LoggingRecovery"/>
			<feature name="LoggingSevere"/>
			<feature name="LoggingInfo"/>
			<feature name="LoggingConfig"/>
			<feature name="LoggingFine"/>
			<feature name="LoggingFiner"/>
			<feature name="LoggingFinest"/>
			<feature name="Derivative_LoggingConsoleHandler_LoggingBase"/>
			<feature name="Derivative_LoggingDbLogHandler_LoggingBase"/>
			<feature name="Derivative_LoggingFileHandler_LoggingBase"/>
			<feature name="Derivative_LoggingCleaner_LoggingBase"/>
			<feature name="Derivative_LoggingRecovery_LoggingBase"/>
			<feature name="Derivative_LoggingSevere_LoggingBase"/>
			<feature name="Derivative_LoggingFine_LoggingBase"/>
			<feature name="Derivative_LoggingFiner_LoggingBase"/>
			<feature name="Derivative_LoggingFinest_LoggingBase"/>
			<feature name="Derivative_LoggingSevere_EnvironmentLocking"/>
			<feature name="Derivative_Latches_FileHandleCache"/>
			<feature name="Derivative_Evictor_EvictorDaemon"/>
			<feature name="Derivative_Evictor_CriticalEviction"/>
			<feature name="Derivative_Evictor_MemoryBudget"/>
			<feature name="Derivative_DeleteOp_MemoryBudget"/>
			<feature name="Derivative_Statistics_MemoryBudget"/>
			<feature name="Derivative_Latches_MemoryBudget"/>
			<feature name="Derivative_LookAHEADCache_MemoryBudget"/>
			<feature name="Derivative_LoggingInfo_MemoryBudget"/>
			<feature name="Derivative_DeleteOp_Evictor"/>
			<feature name="Derivative_INCompressor_Evictor"/>
			<feature name="Derivative_Statistics_Evictor"/>
			<feature name="Derivative_Latches_Evictor"/>
			<feature name="Derivative_LoggingEvictor_Evictor"/>
			<feature name="Derivative_Latches_RenameOp"/>
			<feature name="Derivative_DeleteOp_TruncateOp"/>
			<feature name="Derivative_Latches_TruncateOp"/>
			<feature name="Derivative_LoggingFinest_TruncateOp"/>
			<feature name="Derivative_INCompressor_DeleteOp"/>
			<feature name="Derivative_Statistics_DeleteOp"/>
			<feature name="Derivative_Latches_DeleteOp"/>
			<feature name="Derivative_LoggingCleaner_DeleteOp"/>
			<feature name="Derivative_Verifier_INCompressor"/>
			<feature name="Derivative_Statistics_INCompressor"/>
			<feature name="Derivative_Latches_INCompressor"/>
			<feature name="Derivative_LoggingFine_INCompressor"/>
			<feature name="Derivative_CPBytes_CPTime"/>
			<feature name="Derivative_LoggingFinest_CPTime"/>
			<feature name="Derivative_CheckpointerDaemon_CPBytes"/>
			<feature name="Derivative_LoggingFinest_CPBytes"/>
			<feature name="Derivative_Statistics_Verifier"/>
			<feature name="Derivative_Statistics_CheckLeaks"/>
			<feature name="Derivative_Latches_CheckLeaks"/>
			<feature name="Derivative_Latches_Statistics"/>
			<feature name="Derivative_LookAHEADCache_Statistics"/>
			<feature name="Derivative_FSync_Statistics"/>
			<feature name="Derivative_LoggingConfig_Statistics"/>
			<feature name="Derivative_IO_SynchronizedIO"/>
			<feature name="Derivative_NIO_ChunkedNIO"/>
			<feature name="Derivative_FSync_Latches"/>
			<feature name="Derivative_LoggingEvictor_Evictor_LoggingBase"/>
			<feature name="Derivative_Evictor_MemoryBudget_CriticalEviction"/>
			<feature name="Derivative_INCompressor_Evictor_CriticalEviction"/>
			<feature name="Derivative_LookAHEADCache_Evictor_CriticalEviction"/>
			<feature name="Derivative_Statistics_Verifier_DeleteOp"/>
			<feature name="Derivative_Statistics_Verifier_INCompressor"/>
			<feature name="Derivative_Latches_Verifier_INCompressor"/>
			<feature name="Derivative_Latches_Statistics_Verifier"/>
			<feature name="Derivative_LoggingInfo_Statistics_Verifier"/>
			<feature name="Derivative_LoggingEvictor_Evictor_MemoryBudget_LoggingBase"/>
			<feature name="Derivative_LoggingEvictor_Statistics_Evictor_LoggingBase"/>
		</featureOrder>
	</featureModel>`

        let m = currentModel.split('\n').splice(1).join('\n');

        const parser = new DOMParser();
        const xmlDocument = parser.parseFromString(m, 'text/xml');

        const struct = xmlDocument.querySelector('struct');
        const constraintsContainer = xmlDocument.querySelector('constraints');
        const propertiesSection = xmlDocument.querySelector('properties');
        const calculationsSection = xmlDocument.querySelector('calculations');
        const commentsSection = xmlDocument.querySelector('comments');
        const featureOrderSection = xmlDocument.querySelector('featureOrder');

        data.rootNode = getChildrenOfFeature(struct, null, data)[0];
        {#data.constraints = readConstraints(#}
        {#    [...constraintsContainer.childNodes],#}
        {#    data#}
        {#);#}
        data.properties = getProperties(propertiesSection);
        data.comments = getComments(commentsSection);
        data.featureOrder = getFeatureOrder(featureOrderSection);
    }

    function getChildrenOfFeature(struct, parent, data) {
        let toReturn = [];

        for (const child of struct.childNodes) {
            // To remove #text nodes, as they don't have a tagName
            if (child.tagName) {
                let toAppend = new FeatureNode(
                    parent,
                    child.getAttribute('name'),
                    child.tagName,
                    child.getAttribute('mandatory') === 'true',
                    child.getAttribute('abstract') === 'true'
                );
                toAppend.children = getChildrenOfFeature(child, toAppend, data);

                data.featureMap[toAppend.name] = toAppend;
                toReturn.push(toAppend);
            }
        }

        return toReturn;
    }

    {# TODO: display constraints #}

    function readConstraints(constraints, data) {
        return null;
        {#    return constraints#}
        {#        .filter((rule) => rule.tagName)#}
        {#        .map((rule) => {#}
        {#            return [...rule.childNodes]#}
        {#                .filter((item) => item.tagName)#}
        {#                .map(#}
        {#                    (item) => new Constraint(readConstraintItem(item, data))#}
        {#                )[0];#}
        {#        });#}
    }

    function readConstraintItem(item, data) {
        return null;
        {#    if (item.tagName === 'var') {#}
        {#        return new FeatureNodeConstraintItem(#}
        {#            data.featureMap[item.innerHTML.trim()]#}
        {#        );#}
        {#    } else {#}
        {#        const childItems = [...item.childNodes]#}
        {#            .filter((childItem) => childItem.tagName)#}
        {#            .map((childItem) => readConstraintItem(childItem, data));#}
        {##}
        {#        switch (item.tagName) {#}
        {#            case 'disj':#}
        {#                return new Disjunction(childItems[0], childItems[1]);#}
        {#            case 'conj':#}
        {#                return new Conjunction(childItems[0], childItems[1]);#}
        {#            case 'imp':#}
        {#                return new Implication(childItems[0], childItems[1]);#}
        {#            case 'not':#}
        {#                return new Negation(childItems[0]);#}
        {#        }#}
        {#    }#}
    }

    function getProperties(properties) {
        if (!properties) return [];

        return [...properties.childNodes]
            .filter((element) => element.tagName)
            .map((element) => ({
                tag: element.tagName,
                key: element.getAttribute('key'),
                value: element.getAttribute('value'),
            }));
    }

    function getComments(commentsSection) {
        if (!commentsSection) return [];

        return [...commentsSection.childNodes]
            .filter((element) => element.tagName)
            .map((element) => element.innerHTML);
    }

    function getFeatureOrder(featureOrder) {
        if (!featureOrder) return null;

        return {
            userDefined: featureOrder.getAttribute('userDefined'),
        };
    }

    console.log("Initializing Data...")
    let d3Data = initD3Data();
    let data = initData();
    console.log(data)
    const jsonData = null;
    console.log("xmlToJSON")
    xmlToJson(jsonData, data);
    console.log("Done...")
    const rootNode = data.rootNode;
    console.log("Initializing...")
    init_initialize(d3Data, rootNode);

</script>
<style>
    .ghost-circle {
        fill: red;
        fill-opacity: 0.2;
    }

    .ghost-circle-highlighted {
        fill-opacity: 0.8;
    }

    #svg-container {
        width: 100%;
        height: calc(100vh - 64px);
    }

    .node {
        cursor: pointer;
        vertical-align: middle;
    }

    .is-searched-feature {
        fill: lightcoral;
    }

    .node rect {
        transition: all 0.75s;
        stroke: #888;
        stroke-width: 1px;
    }

    .node text {
        /* fill: black; */
        font-family: monospace;
        text-anchor: middle;
        user-select: none;
    }

    .and-group-circle {
        stroke: #888;
        stroke-width: 1.5px;
        opacity: 0;
    }

    .optional-and-group-circle {
        fill: white;
        opacity: 1;
    }

    .mandatory-and-group-circle {
        fill: rgb(136, 136, 136);
        opacity: 1;
    }

    .alt-group {
        fill: white;
        stroke: #888;
        stroke-width: 1.5px;
    }

    .or-group {
        fill: #888;
        stroke: #888;
        stroke-width: 1.5px;
    }

    .link {
        fill: none;
        stroke: #888;
        stroke-width: 1.5px;
    }

    .is-searched-link {
        fill: none;
        stroke: lightcoral;
        stroke-width: 1.5px;
    }

    .children-count > circle {
        fill: white;
        stroke: #888;
        stroke-width: 1.5px;
    }

    .pseudo-node {
        cursor: pointer;
        vertical-align: middle;
    }

    .pseudo-node circle {
        fill: white;
        stroke: #888;
        stroke-width: 1.5px;
    }

    .feature-model-constraints {
        position: absolute;
        background-color: white;
        bottom: 0;
        width: 100%;
        box-shadow: 0 10px 10px #888, 0px -10px 10px #888;
        padding: 2rem;
        min-height: 10%;
        max-height: 20%;
        overflow: scroll;
    }

    polygon {
        stroke: #888;
    }

    .children-count-text {
        fill: black !important;
    }

    .blackText {
        fill: black !important;
    }

    .whiteText {
        fill: white !important;
    }
</style>
{% block content %}
{% endblock %}
</body>
</html>
